<%= form_with(model: tab, local: true) do |form| %>
  <% if tab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tab.errors.count, "error") %> prohibited this tab from being saved:</h2>

      <ul>
      <% tab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :Title %>
  <%= form.text_field :title %>
  <%= form.label :Scale %>
  <%= form.text_field :scale %>
  <%= form.label :Author %>
  <%= form.text_field :author %>
  <%= form.label :Genre %>
  <%= form.text_field :genre %>
  <!--<%= form.label :Chord_positions %>
  <input name="tab[chord_positions][]" type='text'/>
  <input name="tab[chord_positions][]" type='text'/>
  <input name="tab[chord_positions][]" type='text'/>
  <input name="tab[chord_positions][]" type='text'/>
  <%= form.label :Chords %>
  <input name="tab[chords][]" type='text'/>
  <input name="tab[chords][]" type='text'/>
  <input name="tab[chords][]" type='text'/>
  <input name="tab[chords][]" type='text'/> -->

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class='lyrics-and-chords'>
    <div class='lyrics'>
      <textarea name='tab[lyrics]' id='the-lyrics' rows='10' cols='50'></textarea>
    </div>
    
  </div>
  <button type='button' id='submit-lyrics' class='btn btn-primary'>Click</button>
<% end %>
