<%= form_with(model: tab, local: true, id: 'new-tab-form') do |form| %>
  <% if tab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tab.errors.count, "error") %> prohibited this tab from being saved:</h2>

      <ul>
      <% tab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id='tab-info'>
    <p class='new-tab-steps'>Introduce tab info</p>
    <table>
      <tr>
        <td><%= form.label :Title, class: 'new-tab-labels' %></td>
        <td><%= form.text_field :title, class: 'form-textfield', placeholder: 'Song name' %></td>
      </tr>
      <tr>
        <td><%= form.label :Scale, class: 'new-tab-labels' %></td>
        <td><%= form.text_field :scale, class: 'form-textfield', placeholder: 'Tab scale' %></td>
      </tr>
      <tr>
        <td><%= form.label :Author, class: 'new-tab-labels' %></td>
        <td><%= form.text_field :author, class: 'form-textfield', placeholder: 'Song author' %></td>
      </tr>
      <tr>
        <td><%= form.label :Genre, class: 'new-tab-labels' %></td>
        <td><%= form.text_field :genre, class: 'form-textfield', placeholder: 'Song genre' %></td>
      </tr>
      <%= form.hidden_field :user_id, value: current_user.id %>
    </table>
    <button type='button' class='tabs-button' id='to-add-lyrics'>Add some lyrics</button>
  </div>
  
  <div id='tab-lyrics'>
  <p class='new-tab-steps'>Add lyrics</p>
    <textarea name='tab[lyrics]' class='form-textfield' id='the-lyrics' rows='20' cols='50'><%= tab.lyrics %></textarea>
    <div class='row'>
      <div class='col-lg-6'>
        <button type='button' class='tabs-button' id='back-to-tab-info'>Back to tab info</button>
      </div>
      <div class='col-lg-6'>  
        <button type='button' class='tabs-button' id='to-add-chords'>Add some chords</button>
      </div>    
    </div>
  </div>
  <div id='tab-chords'>
    <div id='lyrics-and-chords'>

    </div>
    <div class='row'>
      <div class='col-lg-6'>
        <button type='button' class='tabs-button' id='back-to-add-lyrics'>Back to lyrics</button>
      </div>
      <div class='col-lg-6'>  
        <div class="actions">
          <%= form.submit current_page?(new_tab_path) ? 'Create tab' : 'Update tab', class: 'tabs-button'%>
        </div>
      </div>
    </div>
  </div>
  
<% end %>

<script>
  $('#to-add-chords').click(function(){
    $('#tab-lyrics').slideUp('fast');
    var lyrics = $('#the-lyrics').val();
    var lines = lyrics.split('\n');
    var line_number = 1;
    var chord_position = 0;
    lines.forEach(function(line){
      $('#lyrics-and-chords').append("<div id='chord-list"+line_number+"'></div>");
      line.split(' ').forEach(function(word){
        $("#chord-list"+line_number).append("<select class='select-chord' data-chord-position='"+chord_position+"' name='tab[chords][]' style='width:"+(word.length*10+20)+"px;'><option disabled selected value> -- select -- </option>\
          <% chords.each do |chord|%>\
            <option value='<%=chord.root%>'><%= chord.root %></option>\
          <% end %>\
          </select>");
        chord_position = chord_position + 1;
      })
      $('#lyrics-and-chords').append("<p style='font-size:17px;word-spacing:20px;'>"+line+"</p>");
      line_number = line_number + 1;
    })
    $('#tab-chords').slideDown('fast');
  })
</script>