<p id="notice"><%= notice %></p>

<h2><%= @tab.title %></h2>
<h3>(<%= @tab.author %>)</h3>
</br>
<div class='show-tab' data-tab-id='<%= @tab.id %>'>
	<div id='chords'>
	<% right_index = 0 %>
	<% @tab.lyrics.split("\n").each do |line| %>
		<% line.split.each_with_index do |word, index| %>
			<% index = right_index %>
			<% match_found = false %>
			<% @chord_root_positions.each_with_index do |chord_position, chord_index| %>
				<% if index == chord_position[1].to_i %>
					<div style="display: inline-block;position: relative; z-index: 1;">
						<p class='chord' style="height:20px; width:<%=word.size*7%>px;" data-positions='<%=@tab.chords[chord_index].positions%>' data-fingering='<%=@tab.chords[chord_index].fingering%>' > <%="#{@tab.chords[chord_index].root}#{@tab.chords[chord_index].chord_type}"%></p>
					</div>
					<% match_found = true %>
					<% break %>
				<% end %>
			<% end %>
			<% right_index = right_index + 1 %>
			<% next if match_found %>
			<p class='empty-chord' style="height:20px; width:<%=word.size*7%>px;"></p>
		<% end %>
		<p class='lyrics-line'> <%= line %></p>
	<% end %>
	</div>
	
</div>


<%= render 'rating', tab: @tab %>



