<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table id='login-table'>
    <tr>
      <td>
        <%= f.label :email %><br />
      </td>
      <td>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-textfield' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :password %><br />
      </td>
      <td>
        <%= f.password_field :password, autocomplete: "off", class: 'login-textfield' %>
      </td>
    </tr>
    <% if devise_mapping.rememberable? -%>
      <tr>
        <td>
          <%= f.label :remember_me %>
        </td>
        <td>
          <%= f.check_box :remember_me %>
        </td>
      </tr>
    <% end -%>
  </table>
  <%= f.submit "Log in", class: 'tabs-button' %>
<% end %>
<%= button_to "Create an account", new_registration_path(resource_name), class: 'tabs-button', method: :get %>
